<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="ReportPageTest">
		<classes>
			<class name="test.ReportPageTest" />
		</classes>
	</test>
	<test name="CommonTest">
		<classes>
			<class name="test.CommonTest" />
		</classes>
	</test>
	<test name="tasksListCheckTest">
		<classes>
			<class name="test.tasksListCheckTest" />
		</classes>
	</test>
	<test name="UsersPageTest">
		<classes>
			<class name="test.UsersPageTest" />
		</classes>
	</test>
</suite> 
